form {
  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block; // Display label as block-level element
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center; // Center align text
  a {
    text-decoration: underline; // Underline for the link
  }
}