extends base
include mixins/community

block content
    // Container for creating new communities
    div.container
        // Form fields for community creation
        form.create-community(method="POST", action="/community")
            label(for="name") Community Name
            input(type="text", id="name", name="name", placeholder="New Community Name")
            label(for="description") Community Description
            textarea(id="description", name="description", placeholder="Describe your community")
            label(for="topic") Community Topic
            select(id="topic", name="topic")
                option(value="coding") Coding
                option(value="cybersecurity") Cyber Security
                option(value="dataanalysis") Data Analysis
                option(value="ai") AI
                option(value="theory") Theory
                option(value="etc") ETC
            button(type="submit") Create Community
        // List of existing communities
        div.communities
            each comm in communities
                +community(comm)
